@font-face {
    src: url("../../fonts/Inter-Light.woff");
    font-family: "localInter";
    font-weight: normal;
}
@font-face {
    src: url("../../fonts/Inter-Black.woff");
    font-family: "localInter";
    font-weight: bold;
}

.page {
    font-family: localInter, "Arial", "Helvetica", sans-serif;

    max-width: 1280px;
    margin: 0 auto;

    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 92px;

    background-color: #2A2C2F;
    color: #FFFFFF;
}

@media screen and (max-width: 768px) {
    .page {
        row-gap: 88px;
    }
}