.cover__subtitle {
    max-width: 280px;

    font-weight: normal;
    font-size: 18px;
    line-height: 22px;

    text-align: center;
}

@media screen and (max-width: 320px) {
    .cover__subtitle {
        max-width: 280px;
        
        font-size: 14px;
        line-height: 16px;
    }
}