.place__paragraph {
    width: 100%;

    grid-area: text;

    display: flex;
    flex-direction: column;
    row-gap: 25px;

    font-weight: normal;
    font-size: 18px;
    line-height: 163%;
}

@media screen and (max-width: 768px) {
    .place__paragraph {
        font-size: 16px;
    }
}