.cover {
    max-width: 1184px;
    width: 100%;

    max-height: 740px;
    height: 100%;

    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    grid-template-areas: "unica-area";
}