.place {
    width: 100%;

    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto auto auto auto;
    grid-column-gap: 40px;
    grid-row-gap: 48px;

    grid-template-areas: 
    "city website"
    "img  text"
    "nft  text"
    " .   text";
}

@media screen and (max-width: 768px) {
    .place {
        grid-column-gap: 28px;
        grid-row-gap: 46px;
    }
}

@media screen and (max-width: 600px) {
    .place {
        max-width: 460px;

        grid-template-columns: 1fr;
        grid-template-rows: auto auto 1fr auto 100px;
        grid-row-gap: 32px;

        justify-items: center;

        grid-template-areas: 
        "city"
        "website"
        "img"
        "text"
        "nft";
    }
}

@media screen and (max-width: 320px) {
    .place {
        grid-template-columns: 1fr;
        grid-template-rows: auto auto 1fr auto 100px;
        grid-row-gap: 8px;

        justify-items: center;

        grid-template-areas: 
        "city"
        "website"
        "img"
        "text"
        "nft";
    }
}