.photos {
    max-width: 1184px;
    width: 100%;

    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 16px;
}

@media screen and (max-width: 768px) {
    .photos {
        max-width: 720px;
        grid-template-columns: repeat(2, 1fr);
    }
}

@media screen and (max-width: 320px) {
    .photos {
        max-width: 288px;
        grid-template-columns: 1fr;
        grid-gap: 12px;
    }
}