.place__website {
    width: 100%;

    grid-area: website;

    display: flex;
    flex-direction: column;
    justify-content: flex-end;

    text-decoration: none;
    color: white;
}

@media screen and (max-width: 320px) {
    .place__website {
        max-width: 288px;
    }
}