@font-face {
    src: url("../fonts/Inter-Light.woff");
    font-family: "localInter";
    font-weight: normal;
}
@font-face {
    src: url("../fonts/Inter-Black.woff");
    font-family: "localInter";
    font-weight: bold;
}