.button {
    background-color: #0278FE;
    transition: background-color 0.1s linear;

    text-decoration: none;
    color: white;

    padding: 13px 20px;
    border-radius: 5px;
}

.button:hover {
    background-color: #0063D2;
}

@media screen and (max-width: 768px) {
    .button {
        /*max-height: 18px;*/

        font-size: 14px;
        line-height: 16px;
    }
}

@media screen and (max-width: 320px) {
    .button {
        max-width: 288px;

        font-size: 14px;
        line-height: 16px;
    }
}