.intro__title {
    max-width: 1020px;

    font-weight: bold;
    font-size: 54px;
    line-height: 58px;

    margin-bottom: 40px;
}

@media screen and (max-width: 768px) {
    .intro__title {
        max-width: 720px;
    }
}

@media screen and (max-width: 320px) {
    .intro__title {
        max-width: 288px;

        font-size: 32px;
        line-height: 35px;
    }
}